.product {
    background: linear-gradient(to bottom, #48cae4, #00b4d8, #fec89a);
    padding-bottom: 32px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #023e8a, #00b4d8);
    z-index: 99;
}

.header__nav {
    height: 34px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header__nav-item {
    position: relative;
    padding: 0 10px;
}

.header__nav-notify {
    position: absolute;
    top: 28px;
    right: 5px;
    width: 380px;
    height: 380px;
    background-color: var(--while-color);
    border-width: 1px;
    border-style: solid;
    border-color: transparent #ccc #ccc #ccc;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    transform-origin: 90% 0;
    animation: notify linear 0.25s;
}

.header__nav-language {
    position: absolute;
    top: 28px;
    right: 5px;
    width: 200px;
    background-color: var(--while-color);
    border-width: 1px;
    border-style: solid;
    border-color: transparent #ccc #ccc #ccc;
    border-radius: 2px;
    justify-content: center;
    flex-direction: column;
    display: none;
    transform-origin: 90% 0;
    animation: notify linear 0.25s;
}

.header__nav-language p {
    font-size: 1.4rem;
    padding: 10px;
}

.header__nav-language p:hover {
    color: crimson;
    cursor: pointer;
}

.header__nav-item:first-child:hover .header__nav-notify,
.header__nav-item:nth-child(3):hover .header__nav-language {
    display: flex;
}

.header__nav-notify img {
    width: 30%;
}

.header__nav-notify p {
    font-size: 1.5rem;
    padding: 10px;
}

.header__nav-notify::after,
.header__nav-language::after {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    border-width: 20px 40px;
    border-color: transparent transparent var(--while-color) transparent;
    border-style: solid;
}

.header__nav-item:last-child {
    border-left: 1px solid #ccc;
}

.header__nav-item a {
    color: var(--while-color);
    font-size: 1.4rem;
    text-decoration: none;
}

.header__nav-item:hover a {
    opacity: 0.7;
}

.header__nav-icon {
    font-size: 1.4rem;
    color: var(--while-color);
}

/* Container */
.header__container {
    display: flex;
    height: 86px;
}

.header__container-logo {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.header__container-logo:hover {
    cursor: pointer;
}

.header__container-logo img {
    width: 60px;
}

.header__container-logo span {
    padding: 0 0 0 10px;
    font-size: 5rem;
    font-weight: 700;
    color: var(--while-color);
}

.header__container-search {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: auto;
    width: 100%;
}

.header__container-search-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--while-color);
    height: 40px;
    border-radius: 2px;
    padding: 0 4px 0 10px;
}

.header__container-search-item input {
    border: none;
    outline: none;
    height: 100%;
    color: var(--black-color);
    font-size: 1.4rem;
}

.header__container-search-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: calc(100% - 8px);
    background-color: var(--pimary-color);
    border-radius: 2px;
}

.header__container-search-item span i {
    font-size: 1.4rem;
    color: var(--while-color);
}

.header__container-search-item span:hover,
.header__container-search-list a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header__container-search-list a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--while-color);
    padding-right: 16px;
}

.header__container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.header__container-cart-body {
    position: relative;
    width: 50px;
    text-align: center;
}

.header__container-cart i {
    color: var(--while-color);
    font-size: 2rem;
}

.header__container-cart i:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__container-cart-notify {
    position: absolute;
    top: 36px;
    right: -9px;
    width: 380px;
    height: 380px;
    background-color: var(--while-color);
    border-width: 1px;
    border-style: solid;
    border-color: transparent #ccc #ccc #ccc;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    transform-origin: 90% 0;
    animation: notify linear 0.25s;
}

.header__container-cart-notify img {
    width: 30%;
}

.header__container-cart-notify p {
    font-size: 1.5rem;
    padding: 10px;
}

.header__container-cart-notify::after {
    content: '';
    position: absolute;
    top: -30px;
    right: 4px;
    border-width: 20px 30px;
    border-color: transparent transparent var(--while-color) transparent;
    border-style: solid;
}

.header__container-cart:hover .header__container-cart-notify {
    display: flex;
}

.slider {
    margin-top: 120px;
}

.slider__container {
    padding-top: 32px;
    height: 500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.slider__container-item {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.slider__container-item img {
    width: 100%;
}

.slider__container-item:first-child {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/3;
}

.slider__container-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 40px;
    height: 80px;
    background-color: rgba(107,112,92,0.7);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    outline: none;
    border-width: 0;
}

.slider__container-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 40px;
    height: 80px;
    background-color: rgba(107,112,92,0.7);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    outline: none;
    border-width: 0;
}

.slider__container-item:first-child:hover .slider__container-prev,
.slider__container-item:first-child:hover .slider__container-next {
    opacity: 1;
    display: flex;
}

.slider__container-prev i,
.slider__container-next i {
    font-size: 3rem;
    color: var(--while-color);
}

.slider__container-prev:hover,
.slider__container-next:hover {
    background-color: rgba(107,112,92,0.9);
    cursor: pointer;
}

.slider__container-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.slider__container-item:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
}

.mySlider {
    display: none;
}

/* Category */
.category {
    margin-top: 32px;
    height: 400px;
    background-color: var(--while-color);
    border-radius: 10px;
}

.category__header {
    border: none;
    display: flex;
    align-items: center;
    height: 60px;
}

.category__header p {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--text-color);
    padding-left: 16px;
}

.category__container {
    height: 340px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
}

.category__item {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px 0;
    cursor: pointer;
}

.category__item:nth-child(1),
.category__item:nth-child(11) {
    border-left: none;
}

.category__item img {
    width: 75%;
    border-radius: 50%;
}

.category__item span {
    height: 25%;
}

.category__item span p {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
}

/* Oder */
.oder {
    margin-top: 32px;
}

.oder__header {
    border: none;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--while-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.oder__header p {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--text-color);
    padding-left: 16px;
}

.oder__container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
}

.oder__container-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.oder__container-item img {
    width: 100%;
    border-radius: 10px;
    text-shadow: 0 10px var(--black-color);
    opacity: 0.9;
    transition: box-shadow 0.25s linear;
}

.oder__container-item img:hover {
    box-shadow: 6px 6px 10px 0 #b7b7a4;
    opacity: 1;
}

.oder__container-des {
    padding-top: 10px;
}

.oder__container-des-heading {
    font-weight: 400;
    padding-left: 8px;
    padding-bottom: 10px;
    font-size: 1.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 280px;
}

.oder__container-des-heading:hover {
    overflow: visible;
}

.oder__container-des-content {
    color: #e63946;
    padding-left: 8px;
    font-size: 1.6rem;
    padding-bottom: 16px;
}

/* Blog */
.blog {
    background: linear-gradient(to bottom, #fec89a, #ffd7ba, #ffe5d9, #d8e2dc);
    padding-bottom: 100px;
}

.blog__header {
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid #f8edeb;
}

.blog__header img {
    width: 50px;
}

.blog__header p {
    font-size: 3rem;
    padding-left: 8px;
    padding-bottom: 8px;
    font-weight: 500;
}

.blog__secsion-header {
    display: flex;
    align-items: center;
    height: 30px;
    border-left: 4px solid #03045e;
    margin: 16px 0;
}

.blog__secsion-header p:hover {
    color: #ffb4a2;
}

.blog__secsion-header p {
    font-size: 2.6rem;
    font-weight: 500;
    padding-left: 8px;
    cursor: pointer;
    transition: color 0.25s linear;
}

.blog__secsion-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

.blog__secsion-item {
    height: 450px;
}

.blog__secsion-img {
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__secsion-img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
}

.blog__secsion-content p {
    padding: 5px 0;
}

.blog__secsion-content-date {
    font-size: 1.3rem;
    color: var(--text-color);
}

.blog__secsion-content-heading {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.25s linear;
    width: 390px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blog__secsion-content-heading:hover {
    color: #ffb4a2;
}

.blog__secsion-content-content {
    font-size: 1.4rem;
    font-weight: 400;
    width: 390px;
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* footer */
.footer {
    background-color: #22223b;
    height: 250px;
    display: flex;
    align-items: center;
}

.footer__secsion {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 80%;
}

.footer__secsion-item {
    display: flex;
    flex-direction: column;
}

.footer__secsion-item:last-child {
    align-items: center;
    justify-content: center;
}

.footer__secsion-item-heading {
    color: var(--while-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 8px 0;
    text-shadow: 0 4px 10px var(--pimary-color);
}

.footer__secsion-item-link {
    color: var(--while-color);
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 0;
}

.footer__secsion-item-link:hover {
    color: #ffb4a2;
}

.footer__secsion-item-img {
    width: 50%;
}

.footer__secsion-contact {
    color: var(--while-color);
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 500;
    padding: 8px 0;
}

.footer__secsion-contact:first-child {
    margin-bottom: 20px;
    font-size: 2rem;
    text-shadow: 0 4px 10px var(--pimary-color);
}

.footer__secsion-contact:last-child {
    font-size: 1.5rem;
}

.footer__secsion-contact i {
    margin-right: 8px;
}